@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: white;
  background-color: #0f0f0f;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animated-logo {
  width: clamp(250px, 80vw, 500px);
  height: 100%;
  aspect-ratio: 1;
}

#main-container,
#main-container > .home-page-template {
  @apply flex flex-col
}

#main-container > .home-page-template > div {
  @apply flex flex-col mx-auto md:!flex-row my-auto
}

.home-page-template {
  @apply min-h-screen p-8 even:bg-opacity-50 even:bg-neutral-900
}
